<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/videopost_form' %>
        </section>
      </aside>
      <div class="span8">
        <h3>Video Feed</h3>
        <div id="xxx"> <%= render 'shared/feed' %></div>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to MyTube!</h1>
      <h2>This is the place to share your YouTube videos!</h2>
      <%= raw(youtube_embed_home('http://www.youtube.com/watch?v=9bZkp7q19f0')) %>
      <p>What are you waiting for? Sign up NOW!</p>
    </div>
<% end %>



